<div id="property" class="panel">
        <section class="fourteen columns">
            @*                <h2 class="remove-top">
                    Rent</h2>*@
            <!-- filters -->
            <form action="#" class="row">
            <!-- tag filters -->
            <ul class="filter-list nine alpha columns row">
                <li><a data-rel="all" class="current">All</a></li>
                <li><a data-rel="house">House</a></li>
                <li><a data-rel="appartment">Apartment</a></li>
                <li><a data-rel="loft">Loft</a></li>
                <li><a data-rel="offices">Offices</a></li>
                <li><a data-rel="condos">Condos</a></li>
            </ul>
            <div class="switcher fr">
                <a href="#" id="gridview" class="switcher"><i class="icon-layout"></i></a><a href="#"
                    id="listview" class="switcher active"><i class="icon-menu"></i></a>
            </div>
            </form>
            <!-- List/Grid gallery -->
            <ul id="property-list" class="list-grid-gallery list">
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="eight columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                <li class="next-arr">@Html.RouteLink("Property", new { id = 0 }, null)></li>
                                @*  @Html.RouteLink("Description", "Property",new { id = 0 } )*@ @*			<li class="next-arr">@Html.ActionLink("Description", "Index", "Property", new { id = 0 }, null)></li>
*@
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all house">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="eight columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li class="next-arr"><a href="/property/index/0">Description</a></li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all appartment">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="eight columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li class="next-arr"><a href="/property/index/0">Description</a></li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all appartment">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="eight columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li class="next-arr"><a href="/property/index/0">Description</a></li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all loft">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="eight columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li class="next-arr"><a href="/property/index/0">Description</a></li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all loft">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="eight columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li class="next-arr"><a href="/property/index/0">Description</a></li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all condos">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="eight columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li class="next-arr"><a href="/property/index/0">Description</a></li>
                            </ul>
                        </div>
                    </article>
                </li>
                <li class="prop-type all condos">
                    <article>
                        <figure class="five columns alpha">
                            <a href="#" class="camera">3</a>
                            <img src="../../images/dotimages/properties/gallery-280x165.png" class="scale-with-grid"
                                alt="gallery" />
                        </figure>
                        <div class="eight columns omega">
                            <h4>
                                House 79th St #8C, New York NY, USA</h4>
                            <ul class="prop-data">
                                <li class="price">$1,875,000</li>
                                <li class="new">New construction</li>
                            </ul>
                            <p class="propr-details">
                                1 bedroom / 2 bathrom / 1,300 sqft
                            </p>
                            <p class="prop-extract">
                                Duis a est quis nunc bibendum consequat. Cras ornare sodales venenatis. Proin id
                                rhoncus massa ellentesque quis orci non lacus tincidunt scelerisque. Integer bibendum
                                commodteger bibendum c scele.</p>
                            <p class="prop-webid">
                                Web ID #1</p>
                            <ul class="toolbar">
                                <li class="dollar"><a href="#">Compare</a></li>
                                <li class="map"><a href="#">Map</a></li>
                                <li class="next-arr"><a href="/property/index/0">Description</a></li>
                            </ul>
                        </div>
                    </article>
                </li>
            </ul>
            <!-- /.List -->
        </section>
    </div>