@using System.Globalization
@using RentalMobile.Helpers
@model RentalMobile.Model.Models.MaintenanceProvider
@{
    ViewBag.Title = "Provider Profile";
    Layout = "~/Views/Shared/Profiles/_Provider.cshtml";
}
@* ReSharper disable ConditionIsAlwaysTrueOrFalse *@
@* ReSharper disable RedundantCast *@
@* ReSharper restore RedundantCast *@
@* ReSharper restore ConditionIsAlwaysTrueOrFalse *@
@* ReSharper disable UnknownCssClass *@
@* ReSharper disable Html.PathError *@
@functions {
    public string GetVideo()
    {
        var uri = HttpContext.Current.Request.Url;
        var videourl = uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + uri.Port + "/Html/NoVideo.htm";
        try
        {
            if (Model != null && (Model.YouTubeVideo != null && (bool)Model.YouTubeVideo))
            {
                videourl = HtmlHelperCustomExtensions.GetYouTubeVideoEmbeddedUrl(Model.YouTubeVideoURL.ToString(CultureInfo.InvariantCulture));
            }
            else if (Model != null && (Model.VimeoVideo != null && (bool)Model.VimeoVideo))
            {
                videourl = HtmlHelperCustomExtensions.GeVimeoVideoEmbeddedUrl(Model.VimeoVideoURL.ToString(CultureInfo.InvariantCulture));
            }
        }
        catch (Exception)
        {
            videourl = uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + uri.Port + "/Html/NoVideo.htm";
        }
        return videourl;
    }
}
@section profile
{
    @Html.Partial("_ProfileDetail", (object)ViewBag.MaintenanceProvider)
}
@section account
{
    <div id="account" class="panel">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Edit Profile" onclick="location.href='/Provider/Edit/@ViewBag.ProviderId'"/>
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Edit Email" onclick="location.href='/Account/ChangeEmail'" />
                </div>
            </div>
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Change Passowrd" onclick="location.href='/Account/ChangePassword'" />
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Change Address" onclick="location.href='/Provider/ChangeAddress/@ViewBag.ProviderId'"/>
                </div>
            </div>
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Delete Account" onclick="location.href='/Provider/Delete/@ViewBag.ProviderId'"/>
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Update Photo" onclick="location.href='/Provider/UpdateProfilePicture/@ViewBag.ProviderId'"/>
                </div>
            </div>
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Update Video" onclick="location.href='/Account/UpdateVideo'" />
                </div>
            </div>
        </section>
    </div>
}@section video
    {
    <div id="video" class="panel">
        <iframe src="@GetVideo()" width="900" height="400"></iframe>
    </div>
}
@section map
{
    <div id="map" class="panel">
        <iframe width="100%" height="300" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?q=@ViewBag.ProviderGoogleMap&amp;z=13&amp;output=embed">
        </iframe>
        <br />
    </div>
}

@section maintenance
{
    <div id="maintenance">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="New Requests" />
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Current Requests" onclick="location.href='./SpecialistMaintenance/Create';" />
                </div>
            </div>
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Archived Requests" onclick="location.href='./SpecialistMaintenance';" />
                </div>
            </div>
            @* <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Future: Hire Specialist" />
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Future" />
                </div>
            </div>*@
        </section>
    </div>
}
@section job
{
    <div id="job">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="New Job Offers" onclick="location.href='./Provider/NewJobOffer';" />
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Accepted Jobs" onclick="location.href='';" />
                </div>
            </div>
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Rejected Jobs" onclick="location.href='';" />
                </div>
            </div>
        </section>
    </div>
}
@section property
{
    @Html.Partial("_Property")
}
@section coverage
{
    <div id="coverage" class="panel">
        <div id="Coveragemenu">
            <section class="row double-bottom">
                <div class="sixteen columns prop-details">
                    <div class="six columns push by-one">
                        <input type="submit" class="full-width tall" id="EditCoverageButton" value="Edit Coverage"  />
                    </div>
                    <div class="six columns push by-two">
                        <input type="submit" class="full-width tall" id="ViewCoverageButton" value="View Coverage" />
                    </div>
                </div>
                <div class="sixteen columns prop-details">
                    <div class="six columns push by-one">
                        <input type="submit" class="full-width tall"  id="EditZoneButton"  value="Edit Zone"  />
                    </div>
                    <div class="six columns push by-two">
                        <input type="submit" class="full-width tall" id="ViewZoneButton" value="View Zone" />
                    </div>
                </div>
            </section>
        </div>
        <div id="CoverageSection" style="display: none">
            @{ Html.RenderAction("_Coverage", "Provider"); }
            <section class="row double-bottom">
                <div class="fifteen columns prop-details">
                     <div class="six columns push by-five">
                        <input type="submit" class="full-width tall" id="BacktoCoverageButton" value="Back To Coverage" />
                    </div>
                </div>
            </section>
        </div>
           <div id="EditCoverageSection" style="display: none">
            @{ Html.RenderAction("_EditCoverage", "Provider"); }
            <section class="row double-bottom">
                <div class="sixteen columns prop-details">
                    <div class="six columns push by-five">
                        <input type="submit" class="full-width tall button gray" id="BacktoEditCoverageButton" value="Back To Coverage" />
                    </div>
                </div>
            </section>
        </div>
        <div id="ViewZoneSection" style="display: none">
            @{ Html.RenderAction("_ViewZone", "Provider"); }
            <section class="row double-bottom">
                <div class="fifteen columns prop-details">
                    <div class="six columns push by-five">
                        <input type="submit" class="full-width tall" id="BacktoZoneButton" value="Back To Zone" />
                    </div>
                </div>
            </section>
        </div>
        <div id="EditZoneSection" style="display: none">
            @{ Html.RenderAction("_EditZone", "Provider"); }
            <section class="sixteen columns prop-details">
                <div class="fifteen columns">
                    <div class="six columns push by-five">
                        <input type="submit" class="full-width tall button gray" id="BacktoEditZoneButton" value="Back To Coverage" style="background-color: gray" />
                    </div>
                </div>
            </section>
        </div> 
    </div>
}
@section team
{
    <div id="team" class="panel">
        <div id="Teammenu" style="display: block">
            @if (ViewBag.TeamId == null)
            {
                <section class="row double-bottom" id="NoTeamSection">
                    <div class="sixteen columns prop-details">
                        <div class="six columns push by-one">
                            <input type="submit" class="full-width tall" value="Create Team" onclick="location.href='./Team/Create';" />
                        </div>
                    </div>
                </section>   
            }
            else
            {
                <section class="row double-bottom">
                    <div class="sixteen columns prop-details">
                        <div class="six columns push by-one">
                            <input type="submit" class="full-width tall" value="Edit Team" onclick="location.href='./Team/Edit/@ViewBag.TeamId';" />
                        </div>
                        <div class="six columns push by-two">
                            <input type="submit" class="full-width tall" id="ViewTeam" value="View Team" />
                        </div>
                    </div>
                    <div class="sixteen columns prop-details">
                        <div class="six columns push by-one">
                            <input type="submit" class="full-width tall" value="Add Team Member" onclick=" location.href = '../Provider/AddTeamMember'; " />
                        </div>
                        <div class="six columns push by-two">
                            <input type="submit" class="full-width tall" value="Remove Team Member" onclick=" location.href = '../Provider/RemoveTeamMember'; " />
                        </div>
                    </div>
                    <div class="sixteen columns prop-details">
                        <div class="six columns push by-one">
                            <input type="submit" class="full-width tall" value="View Team Invitation" onclick=" location.href = '../Provider/ViewTeamInvitation'; " />
                        </div>
                    </div>
                </section>       
            }
        </div>
        @if (ViewBag.TeamId != null)
        {
            <div id="TeamMemberSectionSection" style="display: none">
                @{ Html.RenderAction("_Team", "Provider"); }
                <section class="row double-bottom">
                    <div class="sixteen columns prop-details">
                        <div class="three columns push by-six">
                            <input type="submit" class="full-width tall" id="BacktoTeamMenuButton" value="Back To Team"
                                onclick=" location.href= '/Provider#team';" />
                        </div>
                    </div>
                </section>
            </div> 
        }
    </div>
}
@section contract
{
    <div id="contract" class="panel">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="View Contract" onclick="location.href='';" />
                </div>
            </div>
        </section>
    </div>
}
@section payment
{
    <div id="payment" class="panel">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Payment History" onclick="location.href='./SpecialistMaintenance/Create';" />
                </div>
            </div>
        </section>
    </div>
}
@section advertise
{
    <div id="advertise">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="New Ads" />
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Current Ads" onclick="location.href='./SpecialistMaintenance/Create';" />
                </div>
            </div>
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Reports" onclick="location.href='./SpecialistMaintenance';" />
                </div>
                @*       <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Archived Requests" />
                </div>*@
            </div>
            @* <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Future: Hire Specialist" />
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Future" />
                </div>
            </div>*@
        </section>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        //Team
        $("#ViewTeam").click(function () {
            $("#Teammenu").toggle('slow');
            $("#TeamMemberSectionSection").toggle('slow');
        });

        $("#BacktoTeamMenuButton").click(function () {
            $("#Teammenu").toggle('slow');
            $("#TeamMemberSectionSection").toggle('slow');
        });

        //Coverage
        $("#ViewCoverageButton").click(function () {
            $("#EditCoveragemenu").hide();
            $("#Coveragemenu").toggle('slow');
            $("#CoverageSection").toggle('slow');
        });

        $("#BacktoCoverageButton").click(function () {
            $("#Coveragemenu").toggle('slow');
            $("#CoverageSection").toggle('slow');
        });

        //Edit Coverage
        $("#EditCoverageButton").click(function () {
            $("#Coveragemenu").hide();
            $("#EditCoveragemenu").toggle('slow');
            $("#EditCoverageSection").toggle('slow');
        });

        $("#BacktoEditCoverageButton").click(function () {
            $("#Coveragemenu").show();
            $("#EditCoveragemenu").toggle('slow');
            $("#EditCoverageSection").toggle('slow');
        });

        //Zone
        $("#ViewZoneButton").click(function () {
            $("#Coveragemenu").hide();
            $("#Zonemenu").toggle('slow');
            $("#ViewZoneSection").toggle('slow');
        });

        $("#BacktoZoneButton").click(function () {
            $("#Coveragemenu").show();
            $("#Zonemenu").toggle('slow');
            $("#ViewZoneSection").toggle('slow');
        });

        //Edit Zone
        $("#EditZoneButton").click(function () {
            $("#Coveragemenu").hide();
            $("#EditZonemenu").toggle('slow');
            $("#EditZoneSection").toggle('slow');
        });

        $("#BacktoEditZoneButton").click(function () {
            $("#Coveragemenu").show();
            $("#EditZonemenu").toggle('slow');
            $("#EditZoneSection").toggle('slow');
        });
    </script>
}
