@{
    ViewBag.Title = "ShowingSchedule";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}


@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<link href="../../css/fullcalendar/cupertino/jquery-ui.min.css" rel="stylesheet"
    type="text/css" />
<link href='../../css/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='../../css/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='../../Scripts/lib/jquery.min.js'></script>
<script src='../../Scripts/lib/jquery-ui.custom.min.js'></script>
<script src='../../Scripts/fullcalendar.min.js'></script>

<script>

    $(document).ready(function () {

        $('#calendar').fullCalendar({
            theme: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            events: '/Owner/GetOwnerCalendar/'

            //RSS
            //events: 'http://localhost:56224/Owner/Syndicate/?format=rss'
        });

    });

</script>
<style>
    body
    {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande" ,Helvetica,Arial,Verdana,sans-serif;
    }
    
    #calendar
    {
        width: 900px;
        margin: 0 auto;
    }
</style>
<h2>
    title</h2>
<div id='calendar' style="width: 65%">
</div>
