<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="HasMobileSpecificViews" value="true" />
  <add key="MobileViewsDirectoryName" value="M" />
  <add key="MvcMailer.BaseURL" value="" />
</appSettings>