           <!-- Section: carousel -->
            <section class="row double-bottom">
                <h2 class="section-titling remove-bottom">
                    Features properties for rent</h2>
                <div class="carousel-controls row half-bottom">
                    <span id="carousel-next" class="fr"></span><span id="carousel-prev" class="fr"></span>
                </div>
                <ul class="bx-carousel">
                    <li>
                        <img src="../../images/dotimages/properties/gallery-480x310.png" alt="">
                        <div class="details">
                            <h6>
                                Greenwich Village</h6>
                            <p class="text">
                                Unique Loft | <span>$35.000 /month</span></p>
                        </div>
                    </li>
                    <li>
                        <img src="../../images/dotimages/properties/gallery-480x310.png" alt="">
                        <div class="details">
                            <h6>
                                Greenwich Village</h6>
                            <p class="text">
                                Unique Loft | <span>$35.000 /month</span></p>
                        </div>
                    </li>
                    <li>
                        <img src="../../images/dotimages/properties/gallery-480x310.png" alt="">
                        <div class="details">
                            <h6>
                                Greenwich Village</h6>
                            <p class="text">
                                Unique Loft | <span>$35.000 /month</span></p>
                        </div>
                    </li>
                    <li>
                        <img src="../../images/dotimages/properties/gallery-480x310.png" alt="">
                        <div class="details">
                            <h6>
                                Greenwich Village</h6>
                            <p class="text">
                                Unique Loft | <span>$35.000 /month</span></p>
                        </div>
                    </li>
                    <li>
                        <img src="../../images/dotimages/properties/gallery-480x310.png" alt="">
                        <div class="details">
                            <h6>
                                Greenwich Village</h6>
                            <p class="text">
                                Unique Loft | <span>$35.000 /month</span></p>
                        </div>
                    </li>
                    <li>
                        <img src="../../images/dotimages/properties/gallery-480x310.png" alt="">
                        <div class="details">
                            <h6>
                                Greenwich Village</h6>
                            <p class="text">
                                Unique Loft | <span>$35.000 /month</span></p>
                        </div>
                    </li>
                    <li>
                        <img src="../../images/dotimages/properties/gallery-480x310.png" alt="">
                        <div class="details">
                            <h6>
                                Greenwich Village</h6>
                            <p class="text">
                                Unique Loft | <span>$35.000 /month</span></p>
                        </div>
                    </li>
                    <li>
                        <img src="../../images/dotimages/properties/gallery-480x310.png" alt="">
                        <div class="details">
                            <h6>
                                Greenwich Village</h6>
                            <p class="text">
                                Unique Loft | <span>$35.000 /month</span></p>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- /section: carousel -->