<footer class="container">
        <p class="remove-bottom">
            Copyright &copy; DOT Real State. All Rights Reserved. Designed by Coralix Themes.</p>
        <p>
            Vivamus cursus eget Phasellus quis wisi.</p>
    </footer>