            <!-- Section: partners -->
            <section class="sixteen columns double-bottom">
                <h2>
                    Our partners</h2>
                <figure class="partners">
                    <a href="#">
                        <img src="../../images/dotimages/partners/partner-1.jpg" alt="partner1" /></a>
                    <a href="#">
                        <img src="../../images/dotimages/partners/partner-2.jpg" alt="partner2" /></a>
                    <a href="#">
                        <img src="../../images/dotimages/partners/partner-3.jpg" alt="partner3" /></a>
                    <a href="#">
                        <img src="../../images/dotimages/partners/partner-4.jpg" alt="partner4" /></a>
                    <a href="#">
                        <img src="../../images/dotimages/partners/partner-5.jpg" alt="partner5" /></a>
                    <a href="#">
                        <img src="../../images/dotimages/partners/partner-6.jpg" alt="partner6" /></a>
                    <a href="#">
                        <img src="../../images/dotimages/partners/partner-7.jpg" alt="partner7" /></a>
                </figure>
            </section>
            <!-- /section: partners -->