        <!-- top-bar -->
        <div class="top-bar clearfix">
            <p class="eight columns">
                Sales: 555 912 5412 | Email: <a href="#">info@yourcompany.com</a></p>
            <!-- Language nav -->
            <ul class="nav lang">
                <li><a href="#" class="selected">
                    <img src="../../images/dotimages/icons/es.gif" alt="spain" /></a></li>
                <li><a href="#">
                    <img src="../../images/dotimages/icons/it.gif" alt="italy" /></a></li>
                <li><a href="#">
                    <img src="../../images/dotimages/icons/en.gif" alt="uk" /></a></li>
                <li><a href="#">
                    <img src="../../images/dotimages/icons/fr.gif" alt="frence" /></a></li>
                <li><a href="#">
                    <img src="../../images/dotimages/icons/us.gif" alt="usa" /></a></li>
            </ul>
            <ul class="menu user">
                <li><a href="/Account/Register" class="register-btn">Register</a></li>
                <li>@Html.Partial("_LogOnPartial")</li>
                <li><a href="Help">Help</a></li>
            </ul>
        </div>
        <!-- /.top-bar -->