@using RentalMobile.Helpers
@{
    ViewBag.Title = "Change Email Success";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<section class="content">
    <h2>
        Change Email</h2>
    <p>
        Your email has been changed successfully.
    </p>
    <div>
        @Html.CustomHyperlink("Back")
    </div>
</section>