@using RentalMobile.Helpers
@{
    ViewBag.Title = "Change Password Success";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<section class="content">
    <h2>
        Change Password</h2>
    <p>
        Your password has been changed successfully.
    </p>
    <div>
        @Html.CustomHyperlink("Back")
    </div>
</section>