@using RentalMobile.Helpers
@{
    ViewBag.Title = "Retrieve Password Success";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<section class="content">
    <h2>
        Password Retrieval</h2>
    <p>
        Your password has been been emailed to you successfully.
    </p>
    <div>
        @Html.CustomHyperlink("Back")
    </div>
</section>