@model RentalMobile.Models.Specialist
@{
    ViewBag.Title = "Specialist Profile";
    Layout = "~/Views/Shared/Profiles/_Specialist.cshtml";
}
@section profile
{
    @Html.Partial("_ProfileDetail", (object)ViewBag.Specialist)
}
@section map
{
    <div id="map" class="panel">
        <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?q=@ViewBag.SpecialistGoogleMap&amp;z=13&amp;output=embed">
        </iframe>
        <br />
    </div>
}
@section account
{
    <div id="account" class="panel">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Edit Profile" onclick="location.href='/Specialist/Edit/@ViewBag.SpecialistId'"/>
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Edit Email" onclick="location.href='/Account/ChangeEmail'" />
                </div>
            </div>
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Change Passowrd" onclick="location.href='/Account/ChangePassword'" />
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Change Address" onclick="location.href='/Specialist/ChangeAddress/@ViewBag.SpecialistId'"/>
                </div>
            </div>
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Delete Account" onclick="location.href='/Specialist/Delete/@ViewBag.SpecialistId'"/>
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Update Photo" onclick="location.href='/Specialist/UpdateProfilePicture/@ViewBag.SpecialistId'"/>
                </div>
            </div>
        </section>
    </div>
}
@section maintenance
{
    <div id="maintenance">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="New Requests" />
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Current Requests" onclick="location.href='./SpecialistMaintenance/Create';" />
                </div>
            </div>
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Archived Requests" onclick="location.href='./SpecialistMaintenance';" />
                </div>
                @*       <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Archived Requests" />
                </div>*@
            </div>
            @* <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Future: Hire Specialist" />
                </div>
                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Future" />
                </div>
            </div>*@
        </section>
    </div>
}
@section job
{
    <div id="job">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="New Offers" onclick="location.href='';" />
                </div>
                @*                <div class="six columns push by-two">
                    <input type="submit" class="full-width tall" value="Submit Application" onclick="location.href='';" />
                </div>*@
            </div>
            @*            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="View Application" onclick="location.href='';" />
                </div>
            </div>*@
        </section>
    </div>
}
@section property
{
    <div id="property">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="View Property" onclick="location.href='';" />
                </div>
            </div>
        </section>
    </div>
}
@section team
{
    <div id="team">
        
        <style>
            .container .one-third.column
            {
                margin-bottom: 30px;
                text-align: center;
            }
            .thumbnail
            {
                height: 100%;
                position: relative;
            }
            .thumbnail img
            {
                vertical-align: bottom;
            }
            .thumbnail .details
            {
                background-color: #1FB4DD;
                color: #FFFFFF;
                left: 0;
                min-height: 40%;
                opacity: 0;
                position: absolute;
                text-align: center;
                top: 0;
                transition: all 0.25s ease-in 0s;
                width: 100%;
            }
            .no-opacity .thumbnail .details
            {
                background: none repeat scroll 0 0 transparent;
                min-height: 40%;
                text-align: center;
                top: -9999px;
                width: 100%;
            }
            .thumbnail:hover .details
            {
                margin-top: 0;
                opacity: 0.9;
            }
            .thumbnail .details h3, .h3
            {
                border: medium none;
                color: #FFFFFF;
                font-family: atrament-web-1,atrament-web-2, "HelveticaNeue" , "Helvetica Neue" ,Helvetica,Arial,sans-serif;
                font-size: 28px;
                font-weight: 300;
                letter-spacing: 1px;
                line-height: 30px;
                margin: 0 auto;
                padding: 27px 0 5px;
                text-align: center;
                text-transform: uppercase;
            }
            .thumbnail .details p
            {
                font-size: 18px;
                text-align: center;
            }
            div.section
            {
                margin: 30px 0;
                overflow: hidden;
            }
            div.section img
            {
                height: auto;
                max-width: 100%;
            }
        </style>
        <div class="sixteen columns content" style="margin-left: 0px; margin-right: 0; margin-top: 10px">
            <div class="section">
                <div class="one-third column thumbnail alpha">
                    <a href="http://www.eleventhedition.com/work/fishbone">
                        <img alt="Fishbone" src="http://www.eleventhedition.com/images/work/fishbone/fishbone_responsive.png">
                        <div class="details">
                            <h3>
                                Fishbone Interactive</h3>
                            <p>
                                Responsive Website</p>
                        </div>
                    </a>
                </div>
                <div class="one-third column thumbnail">
                    <a href="http://www.eleventhedition.com/work/abica">
                        <img alt="Abica" src="http://www.eleventhedition.com/images/work/abica/abica_responsive.png">
                        <div class="details">
                            <h3>
                                Abica</h3>
                            <p>
                                Responsive Website</p>
                        </div>
                    </a>
                </div>
                <div class="one-third column thumbnail omega">
                    <a href="http://www.eleventhedition.com/work/print-me">
                        <img alt="PrintMe" src="http://www.eleventhedition.com/images/work/printme/printme_responsive.png">
                        <div class="details">
                            <h3>
                                Print Me</h3>
                            <p>
                                Branding + Responsive Website</p>
                        </div>
                    </a>
                </div>
                <div class="one-third column thumbnail alpha">
                    <a href="http://www.eleventhedition.com/work/snag">
                        <img alt="Snag" src="http://www.eleventhedition.com/images/work/snag/snag_responsive.png">
                        <div class="details">
                            <h3>
                                Snag</h3>
                            <p>
                                Responsive Website</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <section class="row double-bottom">
                        <div class="sixteen columns prop-details">
                            <div class="six columns push by-one">
                                <input type="submit" class="full-width tall" value="Add Team Member" />
                            </div>
                            <div class="six columns push by-two">
                                <input type="submit" class="full-width tall" value="Remove Team Member" onclick="location.href='./SpecialistMaintenance/Create';" />
                            </div>
                        </div> 
        </section>  
    </div>
}
@section contract
{
    <div id="contract" class="panel">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="View Contract" onclick="location.href='';" />
                </div>
            </div>
        </section>
    </div>
}
@section payment
{
    <div id="payment" class="panel">
        <section class="row double-bottom">
            <div class="sixteen columns prop-details">
                <div class="six columns push by-one">
                    <input type="submit" class="full-width tall" value="Payment History" onclick="location.href='./SpecialistMaintenance/Create';" />
                </div>
            </div>
        </section>
    </div>
}
