@using PagedList.Mvc
@using RentalMobile.Helpers
@model PagedList.IPagedList<RentalMobile.Model.Models.SpecialistPendingTeamInvitation>
@{
    ViewBag.Title = "Provider Invitation";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<section class="sixteen columns">
    <h2 class="remove-top BlueHeadingNoMargin">
        List of Providers</h2>
    @if (Model.Count > 0)
    {
             
         
        <form action="#" class="row" style="margin: 0">
        <div class="switcher fr">
            <a href="#" id="gridview" class="switcher"><i class="icon-layout"></i></a><a href="#"
                id="listview" class="switcher active"><i class="icon-menu"></i></a>
        </div>
        </form>
    }
    <div id="showing" class="panel">
        @if (Model.Count > 0)
        {
            <section class="fifteen columns">
                <div>
                    @Html.PagedListPager(Model, page => Url.Action("ProviderInvitation", new { page }), new PagedListRenderOptions
                    {
                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                        DisplayLinkToIndividualPages = false,
                        ContainerDivClasses = null,
                        UlElementClasses = new[] { "pager" },
                        ClassToApplyToFirstListItemInPager = "previous",
                        ClassToApplyToLastListItemInPager = "next",
                        LinkToPreviousPageFormat = "&larr; Older",
                        LinkToNextPageFormat = "Newer &rarr;",
                        DisplayPageCountAndCurrentLocation = true

                    })
                </div>
            </section>
            <section class="fifteen columns">
                <ul id="property-list" class="list-grid-gallery list">
                    @foreach (var item in Model)
                    {
                        <li>
                            <article>
                                <figure class="five columns alpha">
                                    <a href="../Providers/@item.MaintenanceProviderId" class="camera">1</a>
                                    <img src="@Html.GetMaintenanceProviderPrimaryPhoto(item.MaintenanceProviderId)" class="scale-with-grid" width="280" height="185" alt="gallery" />
                                </figure>
                                <div class="nine columns omega">
                                    <div class="four columns" style="float: right;">
                                        <input type="submit" class="full-width tall" value="Confirm" onclick="location.href='/Specialist/AcceptInvitation/@item.PendingTeamInvitationID'"/>
                                    </div>
                                    <div class="four columns" style="float: left;">
                                        <input type="submit" class="full-width tall" value="Deny" onclick="location.href='/Specialist/DenyInvitation/@item.PendingTeamInvitationID'"/>
                                    </div>
                                </div>
                            </article>
                        </li>
                    }
                </ul>
            </section>
            <section class="fifteen columns">
                <div>
                    @Html.PagedListPager(Model, page => Url.Action("ProviderInvitation", new { page }), new PagedListRenderOptions
                    {
                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                        DisplayLinkToIndividualPages = false,
                        ContainerDivClasses = null,
                        UlElementClasses = new[] { "pager" },
                        ClassToApplyToFirstListItemInPager = "previous",
                        ClassToApplyToLastListItemInPager = "next",
                        LinkToPreviousPageFormat = "&larr; Older",
                        LinkToNextPageFormat = "Newer &rarr;",
                        DisplayPageCountAndCurrentLocation = true

                    })
                </div>
            </section>
        }
        else
        {
            <br/>
            <p>
                You have no invitations at this moment.</p>
            <section class="row">
                <div class="sixteen columns">
                    <div class="five columns" style="float: right">
                        <input type="submit" class="full-width tall" value="Ok" onclick="location.href='/Specialist'" />
                    </div>
                </div>
            </section>
        }
    </div>
</section>
@section scripts
{
    @Html.Partial("Script/_Paging")  
}
