@model RentalMobile.Models.MaintenanceTeamAssociation
@{
    ViewBag.Title = "Remove Association Comfirmation";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";

    if (ViewBag.ConfirmationSuccess != null && ViewBag.Confirmation == true)
    {
        ViewBag.Confirmation = false;
    <link rel="stylesheet" type="text/css" href="../../Scripts/jNotify-master/jquery/jNotify.jquery.css"
        media="screen" />
    <script type="text/javascript" src="../../Scripts/jNotify-master/jquery/jNotify.jquery.js"></script>
    <script language='javascript' type='text/javascript'>
            @Html.Raw(ViewBag.ConfirmationSuccess)
    </script>
    }

    if (@Model != null)
    {

    <h2 class="remove-top BlueHeadingNoMargin">
        Removing of Association</h2>

    <p>
        By Clicking confirm, you remove your association with Team @Model.TeamName.
    </p>
        using (Html.BeginForm("RemoveTeamAssociation", "Specialist", FormMethod.Post))
        {
 @Html.HiddenFor(m => m.TeamAssociationID)


    <section class="row">
        <div class="sixteen columns">
            <div class="seven columns" style="float: right">
                <input type="submit" class="full-width tall" value="Confirm" />
            </div>
        </div>
    </section>
        }
    }
}
