  <ul class="etabs">
            <li><a href="#description">Description</a></li>
            <li><a href="#share-on-fb">Share on Facebook</a></li>
            <li><a href="#send-to-friend">Send to a friend</a></li>
            <li><a href="#comments">Comments (12)</a></li>
        </ul>