        <ul class="etabs">
            <li><a href="#photos"><i class="icon-camera"></i>Photos</a></li>
            <li><a href="#video"><i class="icon-video"></i>Video</a></li>
            <li><a href="#map"><i class="icon-map"></i>Map</a></li>
            <li><a href="#agent"><i class="icon-user"></i>Agent</a></li>
        </ul>