                    <ul class="etabs">
                        <li><a href="#profile"><i class="icon-user"></i>Profile</a></li>
                        <li><a href="#account"><i class="icon-video"></i>Account</a></li>
                        <li><a href="#map"><i class="icon-map"></i>Map</a></li>
                    </ul>