<ul class="etabs">
    <li><a href="#maintenance">Maintenance</a></li>
    <li><a href="#job">Job</a></li>
    <li><a href="#property">Property</a></li>
    <li><a href="#contract">Contract</a></li>
    <li><a href="#payment">Payment</a></li>
</ul>
