<ul class="etabs">
                        <li><a href="#favorite">Favorite</a></li>
                        <li><a href="#showing">Showing</a></li>
                        <li><a href="#maintenance">Maintenance</a></li>
                        <li><a href="#application">Application</a></li>
                        <li><a href="#contract">Contract</a></li>
                        <li><a href="#payment">Payment</a></li>
                    </ul>