        <ul class="etabs">
            <li><a href="#agent"><i class="icon-user"></i>Provider</a></li>
            <li><a href="#photos"><i class="icon-camera"></i>Work</a></li>
            <li><a href="#video"><i class="icon-video"></i>Video</a></li>
            <li><a href="#map"><i class="icon-map"></i>Map</a></li> 
        </ul>