<ul class="etabs">
    <li><a href="#description">Description</a></li>
    <li><a href="#coverage">Coverage</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#share-on-fb">Share</a></li>
    <li><a href="#send-to-friend">Send to a friend</a></li>
    <li><a href="#comments">Comments @ViewBag.CommentCount</a></li>
</ul>
