<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PagedList" publicKeyToken="abbb863e9397c5e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.17.0.0" newVersion="1.17.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=tcp:s06.winhost.com;initial catalog=DB_33736_rental;user id=DB_33736_rental_user;password=haithem759163" providerName="System.Data.SqlClient" />
		<add name="DB_33736_rentalEntities" connectionString="metadata=res://*/Models.RentalModel.csdl|res://*/Models.RentalModel.ssdl|res://*/Models.RentalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:s06.winhost.com;initial catalog=DB_33736_rental;user id=DB_33736_rental_user;password=haithem759163;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="AdDatabaseConnectionString1" connectionString="Data Source=tcp:s06.winhost.com;Initial Catalog=DB_33736_addatabase;User ID=DB_33736_addatabase_user;Password=haithem759163" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>